/* You can add global styles to this file, and also import other style files */


.button {
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 16px;
  outline: none;
}